/* WarningPopup.css */
.warning-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e99c28; /* Yellow */
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 60vh;
  }
  
  .warning-content {
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: -7px;
  }
  
  .close-btn:hover {
    color: #ccc;
  }
  
  .warning-content p {
    margin: 0;
    padding: 0;
  }
  