.page{
    border: 1px solid black;
}


.fname{
    max-width: 50vh;
}

.lname{
    max-width: 50vh;
}

.confirm{
    max-width: 50vh;
}

.password{
    max-width: 50vh;
}


.btn-submit{
    background-color: rgb(72, 72, 192);
    color: white;
    width: 50vh;
    margin: auto;
}

.left{
    padding-left: 10vh;
    margin-left: -15vh;
    width: 70vh;
    display:grid;
    margin-right: -35vh;
}

.right{
    padding-left: 10vh;
    width: 70vh;
    display:grid;
    margin-left: 15vh;
    margin-right: -30vh;
}


.edit-image{
    background-color: rgb(255, 255, 255);
    max-width: 200px;
    max-height: 50px;
    height: 200px;
    border-radius: 2vh;
    margin: 0px;
}

.edit-user-image{
    margin-left: 0;
    max-width: 20vh;
    max-height: 20vh;
    border-radius: 3vh;
}

.images-stack {
    position: relative;
    display: inline-block;
  }
  
  .images-stack img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 2vh;
  }
  
  .images-stack:hover img {
    filter: grayscale(100%);
  }
  
  .images-stack .overlay {
    position: absolute;
    margin-left: -11vh;
    margin-top: 4vh; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px; 
    border-radius: 1vh; 
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 14px;
  }
  
  .images-stack:hover .overlay {
    opacity: 1;
  }
  