.page{
  border: none;
  background-color: #ebe7e7;
}

.invitations {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .notification-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .notification-box p {
    margin: 5px 0;
  }
  
  .notification-box p:first-child {
    font-weight: bold;
  }
  

  .invitations {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .invitation-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: calc(100% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .invitation-box p {
    margin: 5px 0;
  }
  
  .invitation-box p:first-child {
    font-weight: bold;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    max-width: 15vh;
    margin: auto;
  }
  
  .button-container button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 45px;
  }
  
  .button-container button:first-child {
    margin-left: -45px; 
  }
  
  .button-container button:hover {
    background-color: #592179;
  }

  .reject{
    background-color: red;
  }

  .accept{
    background-color: green;
  }