.notice-board-container {
    padding-left: 20px;
    padding-top: 20px;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .hi-leader {
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
  }

  .hi-guest {
    background-color: lightsalmon;
    padding: 10px;
    border-radius: 5px;
  }
  
  
  .announcement-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    max-width: 181vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  
  .announcement-card h3 {
    margin-bottom: 5px;
  }
  
  .announcement-card p {
    margin: 0;
    
  }
  
  .edit-button-container {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
  }
  
  .edit-announce-button {
    max-width: 100px;
    background-color: rgb(93, 17, 116);
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 5px 10px; 
    cursor: pointer; 
    outline: none; 
  }
  
  .edit-announce-button:hover {
    background-color: rgb(105, 45, 126); 
  }
  
  .custom-edit-button {
    background-color: rgb(107, 35, 148);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    max-width: 30vh;
    margin: auto;
    transition: background-color 0.3s;
    margin-right: 10px;
    margin-top: 10px;
  }

  .custom-delete-button {
    background-color: rgb(107, 35, 148);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    max-width: 30vh;
    margin: auto;
    transition: background-color 0.3s;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
  }

  .custom-save-button{
    margin-right: 10px;
    max-height: 5vh;
    max-width: 15vh;
    margin-top: 10px; 
  }

  .custom-cancel-button{
    margin-right: 10px;
    max-height: 5vh;
    max-width: 15vh;
    margin-top: 10px; 
  }


  .add-announcement-button-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;
  }

  .add-announcement-button{
    border-radius: 1vh;
    background-color: #949292;
    padding: 15px 30px;
    z-index: 1;
  }

  .add-announcement-button:hover{
    border-radius: 1vh;
    background-color: #747474;
    padding: 15px 30px;
  }
  
  .new-announcement-container {
    margin-top: 20px;
  }
  
  .new-announcement-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
  }
  
  .new-announcement-container .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .datetime{
    color: #949292;
    font-size: small;
    padding-top: 10px;
  }