.rating-card {
    background-color: rgb(233, 232, 232);
    flex: 1;
    overflow-y: auto;
    border-radius: 3vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card-container {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 3vh;
    display: flex;
}

.card-container .imgs{
    margin-right: 20px;
    margin-top: 15px;
}

.card-containers {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 3vh;
    display: flex;
}

.card-containers .task-info{
    margin-left: 20px;
    margin-top: -15px;
}

.labelsInfo{
    font-weight: bold;
}

.task-info p{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.custom-submit {
    align-self: flex-end;
    max-width: 15%; 
    border-radius: 1vh;
    margin-left: 15vh;
}

.custom-remove{
    max-width: 25vh;
    background-color: red;
    margin-left: 60vh;
}

.input-field, .custom-submit {
    width: fit-content;
    max-width: 15%; 
}

.input-field {
    border-radius: 1vh;
    max-width: 10vh;
    max-height: 5vh;
    margin-top: -10px;
    margin-left: 10px;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.red {
    color: red;
}

.yellow{
    color: rgb(137, 119, 0);
}

.msg{
    color: red;
    margin-left: 10px;
}