body {
    margin: 0;
  }
  
  .body {
    display: flex;
    height: 100vh;
    flex-direction: row;
  }
  
  .leftPanel {
    flex: 1;
    display: flex;
    float: left;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
  }
  
  .rightPanel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 237, 254);
    box-sizing: border-box;
    height: 100%;
    width: 50%;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: auto;
    
  }
  
  label {
    margin-bottom: 5px;
  }

  
  .register {
    margin-bottom: 10px;
    border-radius: 8px;
    max-width: 35vh;
  }


  .registerForm{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 5vh;
    padding-left: 100px;
  }
  
  
  .registerLabel {
    margin-left: 50px;
  }

  
  form div {
    display: flex;
    margin-bottom: 15px;
    padding-right: 15%;
  }
  

  form div label{
    flex: 1;
    margin-right: 10px;
  }



  .registerFname{
    max-width: 35vh;
  }


  .registerEmail{
    width: 35vh;
    padding: 8px;
    width: 100%;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 8px;
  }

  .registerUname{
    width: 35vh;
    padding: 8px;
    width: 100%;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 8px;
  }

  .registerPassword{
    width: 35vh;
    padding: 8px;
    width: 100%;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 8px;
  }

  .registerConfirm{
    width: 35vh;
    padding: 8px;
    width: 100%;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 8px;
  }

  .registerButton{
    width: 50%;
    margin-top: -40px;
    margin-left: 140px;
  }
  

  .top-register{
    position: relative;
    height: 60%;
    background-color:rgb(255, 255, 255);
  }


  .registerText{
    color: rgb(18, 85, 231);
    position: relative;
    font-size: 37px;
    top: 17%;
    left: 37%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .registerText2{
    color: rgb(18, 85, 231);
    position: relative;
    font-size: 37px;
    top: 17%;
    left: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .registerText3{
    color: rgb(18, 85, 231);
    position: relative;
    font-size: 37px;
    top: 17%;
    left: 43%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .registerText4{
    color: rgb(18, 85, 231);
    position: relative;
    font-size: 37px;
    top: 17%;
    left: 46%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .registerH5{
    padding: 15px;
    margin: auto;
    margin-left: 20vh;
  }

  .Photo {
    margin-left: 28.5vh;
    margin-bottom: 5vh;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 2vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
  }
  
  .custom-file-upload {
    border-radius: 2vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 30px;
    cursor: pointer;
    color: #212529;
    object-fit: contain;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #7c7777;
  }
  
  .uploaded-image {
    object-fit: cover;
    position: absolute;
    margin-left: 12vh;
    border-radius: 2vh;
    width: 100%;
    height: 100%;
  }
  
  
  .hiddenInput {
    display: none;
  }


  @media (max-width: 768px) {
    .leftPanel {
      display: none;
    }
  
    /* Style the right panel */
    .rightPanel {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      justify-content: start;
      width: 100%;
      padding: 0 20px;
    }
  
    /* Style the form */
    form {
      width: 100%;
      max-width: 340px; /* Set a max-width for larger screens */
    }
  
    /* Style each input field container */
    form div {
      flex-direction: column;
      width: 100%;
      margin-bottom: 15px;
    }
  
    /* Style the input fields */
    input.register {
      width: 100%;
      margin-top: 5px; /* Provide space between label and input */
    }
  
    /* Adjust the width and margin of the button */
    button.registerButton {
      margin-left: 15%;
      width: 90%;
      margin-top: 2px;
    }
  
    /* Center the bottom text */
    .registerH5 {
      margin-left: 15%;
      text-align: left;
      width: 100%;
      margin-top: 20px;
    }
  }
  