body {
    margin: 0;
  }
  
  .body {
    display: flex;
    height: 100vh;
    flex-direction: row;
  }
  
  .leftPanel {
    flex: 1;
    display: flex;
    float: left;
    flex-direction: column;
    background-color: rgb(45, 189, 189);
    box-sizing: border-box;
    width: 50%;
    height: 100%;
  }
  
  .rightPanel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 241, 255);
    box-sizing: border-box;
    height: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: auto;
  }
  
  label {
    margin-bottom: 5px;
  }

  
  .register {
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  
  .registerLabel {
    margin-left: 50px;
  }

  
  form div {
    display: flex;
    margin-bottom: 15px;
    padding-right: 15%;
  }
  
  form div label,
  form div input {
    flex: 1;
    margin-right: 15px;
    
  }

  .registerButton{
    width: 50%;
    margin-top: -40px;
    margin-left: 140px;
  }
  

  .top-register{
    position: relative;
    height: 60%;
    background-color:rgb(250, 241, 255);
  }


  .registerText{
    color: rgb(184, 80, 240);;
    position: relative;
    font-size: 37px;
    top: 17%;
    left: 37%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .registerText2{
    color: rgb(184, 80, 240);;
    position: relative;
    font-size: 37px;
    top: 17%;
    left: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .registerText3{
    color: rgb(184, 80, 240);;
    position: relative;
    font-size: 37px;
    top: 17%;
    left: 43%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .registerText4{
    color: rgb(184, 80, 240);;
    position: relative;
    font-size: 37px;
    top: 17%;
    left: 46%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .registerH5{
    padding: 15px;
    margin: auto;
    margin-left: 155px;
  }
  

  @media (max-width: 768px) {
    .leftPanel {
      display: none;
    }
  
    /* Style the right panel */
    .rightPanel {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      justify-content: start;
      width: 100%;
      padding: 0 20px;
    }
  
    /* Style the form */
    form {
      width: 100%;
      max-width: 340px; /* Set a max-width for larger screens */
    }
  
    /* Style each input field container */
    form div {
      flex-direction: column;
      width: 100%;
      margin-bottom: 15px;
    }
  
    /* Style the input fields */
    input.register {
      width: 100%;
      margin-top: 5px; /* Provide space between label and input */
    }
  
    /* Adjust the width and margin of the button */
    button.registerButton {
      margin-left: 15%;
      width: 90%;
      margin-top: 2px;
    }
  
    /* Center the bottom text */
    .registerH5 {
      margin-left: 15%;
      text-align: left;
      width: 100%;
      margin-top: 20px;
    }
  }
  