.tasks {
  display: flex;
  overflow-y: auto;
  height: calc(80vh - 1px);
  overflow: auto;
}

.tasklist {
  width: 70%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: auto;
}

.scrollable-table {
  max-height: 100%;
  overflow-y: auto; 
}

.task-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.task-table th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px; 
  text-align: left; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.task-table td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px;
  text-align: left;
  white-space: normal; 
  word-wrap: break-word;
  overflow-wrap: break-word; 
}

.task-table th:nth-child(2) {
  width: 40%; 
}

.task-table th:nth-child(1) {
  width: 15%; 
}

.task-table input[type="checkbox"] {
  width: 100%; 
  height: 18px; 
  margin: 0; 
}

.task-table tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.task-table tbody tr:hover {
  background-color: rgba(34, 31, 31, 0.1); 
}

.task-table td.completed {
  color: rgba(0, 0, 0, 0.5); 
}

.task-table td.completed input[type="checkbox"] {
  cursor: not-allowed; 
}

.task-table th,
.task-table td {
  transition: background-color 0.3s ease;
}

.performers {
  width: 30%;
  height: 100%;
}

.add-item-button {
  position: fixed;
  bottom: 20px;
  right: 27%;
}

.add-item-button button {
  display: flex;
  align-items: center;
  background-color: #8d8d8d;
  color: rgb(0, 0, 0);
  padding: 12px 17px;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.add-item-button button svg {
  margin-right: 15px;
}

.add-item-button button:hover {
  background-color: #5b5d5f;
}

.remove-task{
  background-color: red;
  margin-left: 10px;
}

.task-table tbody tr.non-active-task:hover {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}


.task-table tbody tr.active-task:hover {
  background-color: rgba(64, 236, 41, 0.5);
  color: white;
}