
.stats {
    background-color: red;
    margin: auto;
    display: flex; 
    justify-content: space-around;
    width: 100%;
}

.top-users {
    background-color: rebeccapurple;
}


.top-projects {
    background-color: rgb(50, 134, 50);
    max-width: 1200px;
    max-height: 50vh;
}

.chart-top-users {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: rgb(234, 202, 247);
    text-align: center;
    max-height: 65vh;
    padding-bottom: 20px;
    border-radius: 2vh;
}